:root {
  font-family: "Roboto", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #1f1e31;
  --color-secondary: #c4e2ff;
  --color-soft-white: #f3f6f8;
  --color-white: #fefefe;
  --color-black: #111;
  --color-gray: #d4d4d4;

  --font-size-gg: 5rem;
  --font-size-g: 1.25rem;
  --font-size-m: 1.125rem;
  --font-size-p: 0.875rem;
  --font-size-pp: 0.65rem
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}